################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GetDataFromServerAndSaveInFile/GetDataFromServerAndSaveInFile/obj/Debug
/GetDataFromServerAndSaveInFile/GetDataFromServerAndSaveInFile/bin/Debug
/GetDataFromServerAndSaveInFile/GetDataFromServerAndSaveInFile/MyConfig.config
/GetDataFromServerAndSaveInFile/GetDataFromServerAndSaveInFile/GetDataFromServerAndSaveInFile.csproj.user
/.vs/timecockpitwebsiteexport/v15
/.vs
/GetDataFromServerAndSaveInFile/GetDataFromServerAndSaveInFile/obj/Release
