<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings configSource="MyConfig.config">
      <!--<add key="RootUrl" value="C:/GitRepository/time-cockpit-website/content/" />
      <add key="DeRootUrl" value="C:/GitRepository/time-cockpit-website/content/de" />
      <add key="EnRootUrl" value="C:/GitRepository/time-cockpit-website/content/en" />
      <add key="ConnectString" value="..." />
      <add key="TimecockpitUrl" value="http://timecockpit.com/media/" />
      <add key="DeBlogRootUrl" value="C:/GitRepository/time-cockpit-website/content/de/blog" />
      <add key="EnBlogRootUrl" value="C:/GitRepository/time-cockpit-website/content/en/blog" />-->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>